<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">

    <script src="https://kit.fontawesome.com/747429de01.js" crossorigin="anonymous"></script>

    <meta property="og:url" content="https://getgram.ga" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Getgram" />
    <meta property="og:description" content="Download Images and videos from Instagram" />
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/getgram-1e52f.appspot.com/o/asset%2Fimg%2Flogo.png?alt=media&token=691d19bf-f1b6-467d-937b-5bc70653c30d" />

    <meta name="theme-color" content="#212121">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151218387-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151218387-3');
    </script>


    <title>Getgram</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=2575717702749050&autoLogAppEvents=1"></script>

    <noscript>
      <strong>We're sorry but downget doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script type=text/javascript>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
          console.log('Registration successful, scope is:', registration.scope);
        }).catch(function(error) {
          console.log('Service worker registration failed, error:', error);
        });
      }
    </script>
  </body>
</html>
