<template>
  <div id="get-url">
    <b-container class="mt-3 p-0" fluid>
      <b-row class="w-100 p-0 m-0">
        <b-col class="p-0 text-center container-responsive">
          <VueScriptComponent script="<script type=text/javascript>
            atOptions = {
              'key' : 'da02871fdced99c48c33587aa8b57ddd',
              'format' : 'iframe',
              'height' : 90,
              'width' : 728,
              'params' : {}
            };
            document.write('<scr' + 'ipt type=text/javascript src=http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/da02871fdced99c48c33587aa8b57ddd/invoke.js'+'></scr' + 'ipt>');
          </script>" />
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid>
      <b-row class="mt-0">
        <b-col cols=12 class="text-center">
          <p class="mt-2 mb-0 p-2 card"> {{ $t('page.landing.main') }} </p>
        </b-col>

        <b-col cols=12>
          <b-input-group prepend="URL" class="mt-3">
            <b-form-input :placeholder="$t('input.instaUrl')" v-model="url" autocomplete="off"></b-form-input>
            <b-input-group-append>
              <b-button variant="primary" @click="searchInsta" :disabled="loading"> 
                <b-spinner small type="grow" v-if="loading"></b-spinner>
                {{ (loading ?  $t('value.searching') : $t('value.search') )  }} 
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col class="mt-2" v-if="sourcesLength">
          <b-card no-body>
            <b-input-group :prepend="$t('label.searchedUrl')" class="m-0 p-2">
              <b-form-input class="searched-input" :value="searchedUrl" disabled></b-form-input>
              <b-input-group-append>
                <b-button variant="secondary" @click="copyUrl(searchedUrl)"><i class="far fa-copy"></i></b-button>
              </b-input-group-append>
            </b-input-group>
            <b-tabs card>
              <b-tab no-body v-for="(node,index) in sources" v-bind:key="index" :title="(node.is_video ? $t('mime.video') : $t('mime.photo'))+' '+(index+1)">
                <b-card-header>
                  <b-button class="btn btn-primary" @click="downloadFile(node.source)">
                     {{ $t('value.download') }} 
                  </b-button>
                </b-card-header>
                <b-col cols=12 md=6 offset-md=3 class="p-3"><b-card-img bottom :src="node.display"></b-card-img></b-col>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
  import VueScriptComponent from 'vue-script-component';
  import { auth } from "@/fireConf";
  import download from "downloadjs";
  import copy from 'copy-to-clipboard';

  /*
    node: {
      display: Image url,
      source: Source url
    }
  */

  export default {
    name: "Landing",
    components: {
      VueScriptComponent 
    },
    data(){
      return {
        url: "",
        searchedUrl: "",
        user: null,

        loading: false,

        sources: [],

        sharedQuery: {
          location: "",
          title: "",
          text: "",
          url: ""
        }
      }
    },
    computed:{
      sourcesLength(){
        return this.sources.length;
      }
    },
    beforeCreate(){
      var main = this;
      /* Anonymous login, just for fun */
      auth.onAuthStateChanged(function(user) {
          if(user){
            main.user = user;
          }else{
            auth.signInAnonymously().catch(function(error) {
              console.log(error)

            });
          }
      });

      window.addEventListener('DOMContentLoaded', function(){
          const parsedUrl = new URL(window.location);
          main.sharedQuery.location = window.location;
          
          main.sharedQuery.title = parsedUrl.searchParams.get('title');
          main.sharedQuery.text = parsedUrl.searchParams.get('text');
          main.sharedQuery.url = parsedUrl.searchParams.get('url');

          if(main.sharedQuery.text !== ""){
            main.url = main.sharedQuery.text;
          }else if(main.sharedQuery.url !== ""){
            main.url = main.sharedQuery.url;
          }
          
          if(main.url != "" && main.url != null){
            main.searchInsta();
          }
      });
    },
    mounted(){
      
    },
    methods: {
      copyUrl(url){
        /* Copy URL searched */
        copy(url);
        this.$toast.info(this.$t("toast.urlCopied"));
      },
      downloadFile(url){
        /* Download file directly */
        download(url);
      },
      searchInsta(){
        /* Validate and get instagram url source */
        var main = this;

        if(main.url == "" || main.url == null){
          main.$toast.error(main.$t('error.message.urlEmpty'));
          return false;
        }

        if(!main.url.match(/(https?:\/\/(?:www\.)?instagram\.com\/p\/([^/?#&]+)).*/g)){
          main.$toast.error(main.$t('error.message.notInstagramUrl'));
          return false;
        }

        main.loading = true;
        var index = main.url.indexOf("?");

        main.url = (index > -1 ? main.url.substring(index,-1) : main.url );

        console.log(main.url, index)

        main.axios.get(main.url+"?__a=1").then(function(response){
          //console.log(response.data);
          var post = response.data.graphql.shortcode_media;
          main.buildTabs(post);
          main.loading = false;
        }).catch(function(error){
          //console.log(error)
          var status = error.response.status || "default";
          main.loading = false;
          switch(status){
            case 404:
              main.$toast.error(main.$t('error.message.wrongInstaSource'));
            break;

            default: 
               main.$toast.error(main.$t('error.message.default'));
            break;
          }

          
        })
      },
      buildTabs(post){
        /* Build display tabs */
        var main = this;
        main.sources = [];
        main.searchedUrl = main.url;
        main.url = "";

        if(post.hasOwnProperty("edge_sidecar_to_children")){
          post = post.edge_sidecar_to_children.edges;
          for(var key in post){
             main.extractNode(post[key].node);
          }
        }else if(post.hasOwnProperty("is_video")){
          main.extractNode(post);
        }else{
          main.$toast.error(main.$t('error.message.wrongInstaSource'));
          return false;
        }
      },
      extractNode(node){
        /* Build sources array to display tabs from callback */
        var main = this;
        var aux = {};

        if(node.is_video){
          aux.is_video = node.is_video;
          aux.display = node.display_url;
          aux.source = node.video_url;
        }else{
          aux.is_video = node.is_video;
          aux.display = node.display_url;
          aux.source = node.display_url;
        }

        main.sources.push(aux);
      }
    }
    
  }
</script>

<style>
  .searched-input{
    background-color: #4b545c!important;
    color: #fff!important;
  }

  .container-responsive img{
    width: 100%;
    height: auto; 
  }

  @media (max-width: 992px) {

    .container-responsive iframe, .container-responsive iframe img{
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .container-responsive iframe{
      max-height: 92px;
    }
  }
</style>