<template>
  <div id="app">
    <div id="bgContainer">
        <img src="/img/background.jpg">
    </div>

    <div id="bgTransparency"></div>

    <vue-particles
      color="#dedede"
      :particleOpacity="0.7"
      :particlesNumber="50"
      shapeType="circle"
      :particleSize="2"
      linesColor="#dedede"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="150"
      :moveSpeed="2"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
    >
    </vue-particles>
    <div id="wrapper">
      <b-navbar toggleable="lg" type="dark" :sticky="true" variant="dark">
        <b-navbar-brand to="/"> <b-img class="logo" src="https://firebasestorage.googleapis.com/v0/b/getgram-1e52f.appspot.com/o/asset%2Fimg%2Flogo.png?alt=media&token=691d19bf-f1b6-467d-937b-5bc70653c30d" fluid :alt="$t('appName')" /> </b-navbar-brand>
  
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
  
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/about"> {{ $t("navbar.about") }} </b-nav-item>
          </b-navbar-nav>
  
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item href="https://www.patreon.com/luyou" target="_blank"> <i class="fab fa-patreon"></i> </b-nav-item>
              <b-nav-item href="https://fb.me/ImLuyou" target="_blank"> <i class="fab fa-facebook"></i> </b-nav-item>
              <b-nav-item href="https://twitter.com/Imluyou" target="_blank"> <i class="fab fa-twitter"></i> </b-nav-item>
            </b-navbar-nav>
  
            <b-nav-item-dropdown :text="$t('navbar.lang')" right>
              <b-dropdown-item @click="changeLanguage('en')">EN</b-dropdown-item>
              <b-dropdown-item @click="changeLanguage('es')">ES</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <router-view  />
    </div>
    
    <footer class="pt-2 pb-4">
      <b-container>
        <b-row>
          <b-col class="text-center">
            <a href="https://twitter.com/ImLuyou?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="false">Follow @ImLuyou</a><VueScriptComponent script='<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>' />
          </b-col>
          <b-col class="text-center">
            <div class="fb-like" data-href="https://www.facebook.com/ImLuyou/" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="text-center">
            <small v-html="footerCopy"></small> <br/>
            <small class="text-muted">Created by <a href="https://www.patreon.com/luyou" target="_break" class="text-muted">Adrian Legaspi</a></small>
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<script>
import i18n from "@/i18n";

export default {
  name: 'landing',

  computed:{
    footerCopy(){
      return this.$t('appName')+' '+(new Date().getFullYear())+'&copy;'; 
    }
  },
  methods: {
    changeLanguage(lang){
      i18n.locale = lang;
      //console.log(i18n.locale)
    }
  }
}
</script>

<style>

  .logo{
    max-width: 46px!important;
  }

  #wrapper{
    min-height: calc(100vh - 108px);
  }

  #bgContainer {
    position: fixed;
    width: 100%!important;
    height: 100%!important;
  }

  #bgContainer img{
    object-fit: cover;
    /* will not be resized */
    position: relative;
    /* clip to your coordonates*/
    width: 100%!important;
    height: 100%;
  }

  #bgTransparency{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.55);
  }

  footer{

    min-height: 8vh;
    bottom: 0;
  }

  .particles-js-canvas-el{
    position: fixed;
    height: 100%!important;
  }

</style>
